<div class="row">
    <div class="col-md-12">
      <form>
            <div>
                <select [(ngModel)]="custSelect"
                        name="customerName"
                    class="form-control">
                    <option [value]="defaultCustomer.id" selected="selected">{{defaultCustomer.id}}
                    </option>
                    <option *ngFor="let customer of customers.slice(1); index as i"
                            [value]="customer.id">{{customer.name}}
                    </option>
                </select>
            </div>
            <hr>
            <div>
                    <input type="text"
                        id="startDate" name="startDate"
                        [(ngModel)]="startDate"
                        placeholder="Start Date"
                        class="form-control"
                        bsDatepicker
                        [bsConfig]="{ isAnimated: true }">
            </div>
            <hr>
            <div>
                       <input type="text"
                        id="endDate" name="endDate"
                        [(ngModel)]="endDate"
                        placeholder="End Date"
                        class="form-control"
                        bsDatepicker
                        [bsConfig]="{ isAnimated: true }">
            </div>
            <hr>
            <div>
                <button class="btn btn-success" type="submit" (click)="onSearch()">Search</button>
                <button class="btn btn-success" type="submit" (click)="onReset()">Reset</button>
            </div>
      </form>
    </div>
  </div>
  